---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}
You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
<h2>Arxiv</h2>
<hr/>
{% for post in site.publications reversed %}
  {% if post.category == 'arxiv' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
<h2>Preprints</h2>
<hr/>
{% for post in site.publications reversed %}
  {% if post.category == 'preprints' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
<h2>Journal Articles</h2>
<hr/>
{% for post in site.publications reversed %}
  {% if post.category == 'journals' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
<h2>Conference Papers</h2>
<hr/>
{% for post in site.publications reversed %}
  {% if post.category == 'conferences' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


